APP_HOST=127.0.0.1
APP_PORT=3000
APP_DATA_DIR=./data
QDRANT_URL=http://127.0.0.1:6333
QDRANT_COLLECTION=shiori_card_chunks
TEI_URL=http://127.0.0.1:8080
UNOCONVERT_BIN=unoconvert
RERANK_STRATEGY=best_chunk
EMBEDDING_VECTOR_SIZE=1024

TEI_SHIM_HOST=127.0.0.1
TEI_SHIM_PORT=8080
OLLAMA_URL=http://127.0.0.1:11434
EMBEDDING_MODEL=nomic-embed-text:latest
LLM_MODEL=
OLLAMA_RERANK_TOP_N=8
OLLAMA_RERANK_BATCH_SIZE=8
